{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}备份{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}! 欢迎来到备份系统</h1>
</div>


<ul class="posts">
<li class="post">
{% if data %}
        <div class="post-content">
            {% if data['jobstate'] == "allok" %}
            <div class="post-date"><a style="color: green"> 所有任务都已经完成</a></div>
            {% else %}
             {% if data['failjoblimit']|length > 1 %}
                        <div class="post-date"><a style="color: red" href="{{ url_for('main.bacularunfailjob',hostip=data['hostip'])  }}"> 失败任务超过限制，请检查失败任务日志</a></div>
            {% else %}
            {% if data['failjobtorun']|length != 0 %}
            <div class="post-date"><a style="color: red" href="{{ url_for('main.bacularunfailjob',hostip=data['hostip'])  }}"> 任务还未完成,点击重试失败任务</a></div>
            {% elif data['countjobs']|length == data['newjobs']|length + data['successjobs']|length %}
            <div class="post-date"><a style="color: red" href="{{ url_for('main.runnewbaculajob',hostip=data['hostip'],clientips=(data['newjobs'],))  }}"> 新增的任务还未运行，点击运行新增任务</a></div>
            {% else %}
            <div class="post-date"><a style="color: red" href="{{ url_for('main.getjobdetails',hostip=data['hostip'])  }}"> 任务正在进行中</a></div>
            {% endif %}
            {% endif %}
            {% endif %}

            <div class="post-bacula"><a href="{{ url_for('main.getjobdetails',hostip=data['hostip'])  }}">任务服务器：{{ data['hostip'] }}</a></div>
            <div class="post-body">
                {% if data['jobstate'] == "allok" %}
                任务状态：所有任务都已经完成 <br/>
                {% else %}
                任务状态：任务还未完成 <br/>
                 {% endif %}
                客户端：{{ data['countjobs']|length }} <br/>
                                {% if data['newjobs']|length > 0 %}
                        <div class="post-date"><a style="color: #29b2ff" href="{{ url_for('main.runnewbaculajob',hostip=data['hostip'],clientips=(data['newjobs'],))  }}"> 新增的任务还未运行，点击运行新增任务</a></div>
                {%endif%}
                {% for sjob in data['countjobs'] %}
                {% if sjob["jobid"] == 1 %}
                 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a style="color: red" href="{{ url_for('main.runcheckjobs',hostip=data['hostip'],jobid='old')  }}">已经删除的客户端：{{ sjob["Name"]}}</a> <br/>
                {% elif sjob["jobid"] == -1 %}
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a style="color: green" href="{{ url_for('main.getjobreport',hostip=data['hostip'],jobname=sjob['Name'],jobid='new')  }}">将要新增的客户端：{{ sjob["Name"]}}</a> <br/>
                {% else %}
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="{{ url_for('main.getjobreport',hostip=data['hostip'],jobname=sjob['Name'],jobid='now')  }}">客户端名称：{{ sjob["Name"]}}</a> <br/>
                {% endif %}
                {% endfor %}
                <HR style="border:1px " width="80%" color=#987cb9 SIZE=1>

                新增任务：{{ data['newjobs']|length }} <br/>

                {% for sjob in data['newjobs'] %}
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="{{ url_for('main.getjoblogs',hostip=data['hostip'],jobname=sjob,jobid=sjob['JobId'])  }}">任务：{{ sjob}}</a> <br/>
                {% endfor %}
                <HR style="border:1px " width="80%" color=#987cb9 SIZE=1>

                成功任务：{{ data['successjobs']|length }} <br/>
                {% for sjob in data['successjobs'] %}
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="{{ url_for('main.getjoblogs',hostip=data['hostip'],jobname=sjob['Name'],jobid=sjob['JobId'])  }}">任务：{{ sjob['Name']}}</a> <br/>
                {% endfor %}
                <HR style="border:1px " width="80%" color=#987cb9 SIZE=1>
                运行任务：{{ data['runningjobs']|length}} <br/>
                {% for sjob in data['runningjobs'] %}
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="{{ url_for('main.getjoblogs',hostip=data['hostip'],jobname=sjob['Name'],jobid=sjob['JobId'])  }}">任务：{{ sjob['Name']}}</a> <br/>
                {% endfor %}
                <HR style="border:1px " width="80%" color=#987cb9 SIZE=1>

                等待任务：{{ data['waitingjobs']|length }} <br/>
                 {% for sjob in data['waitingjobs'] %}
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="{{ url_for('main.getjoblogs',hostip=data['hostip'],jobname=sjob['Name'],jobid=sjob['JobId'])  }}">任务：{{ sjob['Name']}}</a> <br/>
                {% endfor %}
                <HR style="border:1px " width="80%" color=#987cb9 SIZE=1>

                失败任务：{{ data['failedjobs']|length }} <br/>
                {% for sjob in data['failedjobs'] %}
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="{{ url_for('main.getjoblogs',hostip=data['hostip'],jobname=sjob['Name'],jobid=sjob['JobId'])  }}">任务：{{ sjob['Name']}}</a><br/>
                {% endfor %}
                <HR style="border:1px " width="80%" color=#987cb9 SIZE=1>

                <HR style="border:1px " width="80%" color=#987cb9 SIZE=1>
                失败任务-完成：{{ data['failjobsuccess']|length }} <br/>
                {% for sjob in data['failjobsuccess'] %}
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="{{ url_for('main.getjoblogs',hostip=data['hostip'],jobname=sjob['Name'],jobid=sjob['JobId'])  }}">任务：{{ sjob['Name']}}</a> <br/>
                {% endfor %}
                <HR style="border:1px " width="80%" color=#987cb9 SIZE=1>

                失败任务-运行：{{ data['failjobrunning'] |length}} <br/>
                {% for sjob in data['failjobrunning'] %}
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="{{ url_for('main.getjoblogs',hostip=data['hostip'],jobname=sjob['Name'],jobid=sjob['JobId'])  }}">任务：{{ sjob['Name']}}</a> <br/>
                {% endfor %}
                <HR style="border:1px " width="80%" color=#987cb9 SIZE=1>

                失败任务-等待：{{ data['failjobwaiting']|length }} <br/>
                {% for sjob in data['failjobwaiting'] %}
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="{{ url_for('main.getjoblogs',hostip=data['hostip'],jobname=sjob['Name'],jobid=sjob['JobId'])  }}">任务：{{ sjob['Name']}}</a> <br/>
                {% endfor %}
                <HR style="border:1px " width="80%" color=#987cb9 SIZE=1>


                失败任务-启动：{{ data['failjobtorun']|length }} <br/>
                {% for sjob in data['failjobtorun'] %}
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="{{ url_for('main.getjoblogs',hostip=data['hostip'],jobname=sjob['Name'],jobid=sjob['JobId'])  }}">任务：{{ sjob['Name']}}</a> <br/>
                {% endfor %}
                <HR style="border:1px " width="80%" color=#987cb9 SIZE=1>


                <HR style="border:1px" width="80%" color=#987cb9 SIZE=1>
                失败任务当天超过3次：{{ data['failjoblimit']|length }} <br/>
                {% for sjob in data['failjoblimit'] %}
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="{{ url_for('main.getjoblogs',hostip=data['hostip'],jobname=sjob['Name'],jobid=sjob['JobId'])  }}">任务：{{ sjob['Name']}}</a> <br/>
                {% endfor %}
                <HR style="border:1px " width="80%" color=#987cb9 SIZE=1>


                任务运行超过时间限制：{{ data['jobslimitime'] |length}} <br/>
                {% for sjob in data['jobslimitime'] %}
                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="{{ url_for('main.getjoblogs',hostip=data['hostip'],jobname=sjob['Name'],jobid=sjob['JobId'])  }}">任务：{{ sjob['Name']}}</a> <br/>
                {% endfor %}
                <HR style="border:1px " width="80%" color=#987cb9 SIZE=1>


            </div>
            {% if data['failjobtorun']|length > 0 %}

            <div class="post-footer">
                <a href="{{ url_for('main.bacularunfailjob',hostip=data['hostip'])  }}">
                    <span class="label label-primary" >运行失败任务</span>
                </a>
            </div>
              {% endif %}
            {% if data['failjoblimit']|length > 1 %}
            <div class="post-footer">
                <a href="{{ url_for('main.getjobdetails',hostip=data['hostip'])  }}">
                    <span class="label label-primary" >失败任务超过限制，请检查失败任务日志</span>
                </a>
                </div>

            {% endif %}

        </div>
    </li>

</ul>

{% endif %}

{% endblock %}

